*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
/StarCitizen.Gimp.Core/Configuration/appsettings.json
/StarCitizen.Gimp.Core/Configuration/appsettings.production.json
/StarCitizen.Gimp.Web/appsettings.Development.json
/StarCitizen.Gimp.Web/appsettings.Production.json
/StarCitizen.Gimp.WebJobs.SpectrumFeed/appsettings.json
/StarCitizen.Gimp.WebJobs.RssFeed/appsettings.json
/StarCitizen.Gimp.WebJobs.StoreFeed/appsettings.json
/StarCitizen.Gimp.Web/appsettings.json
